{% if collection.metafields.custom.sub_collection_list.value != blank %}
  <div class="manta-sub-cat-wrapper">
    {% for sub_collection in collection.metafields.custom.sub_collection_list.value %}
      <a href="{{ sub_collection.url }}" class="manta-sub-cat-item">
        {% assign custom_image = sub_collection.metafields.custom.collection_image %}

        {% if custom_image %}
          <img
            src="{{ custom_image | image_url: 'medium' }}"
            alt="{{ sub_collection.title }}"
            class="manta-sub-cat-image"
            width="300"
            height="300"
          >
        {% endif %}

        <div class="manta-sub-cat-title">
          {{ sub_collection.title }}
        </div>
      </a>
    {% endfor %}
  </div>
{% else %}
  <p>No sub-collections available for this category.</p>
{% endif %}
